@mixin flex-box($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: column;
}

.login {
  @include flex-box(center);
  background: #08121B;
  width: 100%;
  height: 100%;


  &__form {
    @include flex-box(flex-start);
    width: 25rem;
    background: #203240;
    padding: 2rem;


    .header {
      color: white;
      margin-top: 2rem;
      text-transform: capitalize;
      letter-spacing: .2rem;
    }


    .text {
      border: none;
      background-repeat: no-repeat;
      background-size: 1.5rem;
      background-position: .5rem;
      width: 70%;
      height: 4rem;
      padding: .3rem 2.5rem 0 3.5rem;
      font-size: 1.2rem;
      outline: none;
      background-color: transparent;
    }

    .text::placeholder {
      text-transform: capitalize;
      color: #606A70;
    }


    hr {
      width: calc(100% - 40px);
      border: 1px solid #4E565E;
    }

    .email {
      background-position: .5rem 1.3rem;
      background-image: url("../../../../assets/imgs/email_logo.png");
    }

    .password, .repeatPassword {
      background-image: url("../../../../assets/imgs/lock_logo.jpg");
    }

    .username {
      background-image: url("../../../../assets/imgs/user_logo.png");
    }

    .mobile {
      background-image: url("../../../../assets/imgs/mobile_logo.png");
    }


    #error {
      width: 80%;
    }

    .btn {
      width: 100%;
      height: 4rem;
      margin-top: .6rem;
      border-radius: 0;
      background: #171E27;
      text-transform: capitalize;
      color: white;
    }

    .register {
      display: block;
      text-align: center;
      width: 80%;
      margin-top: 3rem;

      h5:nth-child(1) {
        color: white;
        font-size: 1rem;
        text-transform: capitalize;
      }

      button:nth-child(2) {
        text-transform: capitalize;
        color: #27A0FF;
        font-weight: bold;
        font-size: .9rem;
      }

    }
  }
}

@media (max-width: 800px) {
  .login {
    &__form {
      height: 65%;
      width: 22rem;
    }
  }
}


@media (max-width: 500px) {
  .login {
    &__form {
      height: 65%;
      width: 20rem;


      .text {
        height: 2rem;
        font-size: .7rem;
      }

      .text::placeholder {
        font-size: .7rem;
      }

      .btn {
        height: 2.5rem;
        font-size: .7rem;
      }
    }

  }
}

@media (max-width: 420px) {
  .login {
    &__form {
      height: 65%;
      width: 18rem;

      .header {
        margin-top: 1rem;
        font-size: 1rem;
      }

      input {
        height: 2rem;
      }

      .register {
        h5:nth-child(1) {
          font-size: .8rem;
        }

        button:nth-child(2) {
          font-size: .8rem;
        }
      }

    }

  }
}
