<section class="login">
    <form [formGroup]="form" class="login__form">
        <img src="../../../../assets/imgs/logo.png" width="80" style=" opacity: .7; top: -70px" alt="">
        <article style="width: 100%; margin-top: 32px;  background: #848A92; display: inline-flex; justify-content: center; align-items: center; flex-direction: column">
            <ng-container *ngFor="let control of controls; index as i">
                <input
                        [class]="control +' text'"
                        [type]="control === 'mobile' ?
                        'number' : (control === 'password' || control === 'repeatPassword') ? 'password' : 'text'"
                        [formControlName]="control"
                        [placeholder]="control === 'repeatPassword' ? 'repeat password' : control">
                <hr *ngIf="i !== controls.length - 1">
            </ng-container>
        </article>

        <button
                [disabled]="form.invalid"
                class="btn"
                #signInBtn
                mat-button>
            login
        </button>
        <div class="register">
            <h5>
                don't have an account?
            </h5>
            <button
                    mat-button>
                sign up
            </button>
        </div>
    </form>
</section>
