@mixin flex-box($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: column;
}

.login {
  @include flex-box(center);
  background-image: url("https://wallpaperaccess.com/full/365762.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  &__form {
    @include flex-box(flex-start);
    height: 70%;
    width: 25rem;
    background: transparent;
    -webkit-box-shadow: 0 0 1rem .5rem #000000;
    box-shadow: 0 0 1rem .5rem #000000;


    .header {
      color: white;
      margin-top: 2rem;
      text-transform: capitalize;
      font-family: Monaco;
      letter-spacing: .2rem;
    }


    .text {
      border: none;
      background-repeat: no-repeat;
      background-size: 1.2rem;
      background-position: .5rem;
      width: 70%;
      height: 2.5rem;
      padding-left: 2.5rem;
      margin-top: 2rem;
      font-family: Monaco;
      font-size: .9rem;
      outline: none;
    }

    .text::placeholder {
      text-transform: capitalize;
      font-style: italic;
      font-size: .9rem;
      font-family: Monaco;
    }


    .email {
      background-image: url("http://cdn.onlinewebfonts.com/svg/img_91484.png");
    }

    .password {
      background-image: url("https://icon-library.com/images/lock-png-icon/lock-png-icon-20.jpg");
    }

    #error {
      width: 80%;
    }

    .btn {
      width: 80%;
      height: 3rem;
      margin-top: 2rem;
      background: #27A0FF;
      text-transform: capitalize;
      font-family: Monaco;
    }

    .register {
      display: block;
      text-align: center;
      width: 80%;
      margin-top: 3rem;

      h5:nth-child(1) {
        color: white;
        font-family: "Andale Mono";
        font-size: 1rem;
        text-transform: capitalize;
      }

      button:nth-child(2) {
        text-transform: capitalize;
        color: #27A0FF;
        font-family: "Andale Mono";
        font-weight: bold;
        font-size: .9rem;
      }

    }
  }
}

@media (max-width: 800px) {
  .login {
    &__form {
      height: 65%;
      width: 22rem;
    }
  }
}


@media (max-width: 500px) {
  .login {
    &__form {
      height: 65%;
      width: 20rem;


      .text {
        height: 2rem;
        font-size: .7rem;
      }

      .text::placeholder {
        font-size: .7rem;
      }

      .btn {
        height: 2.5rem;
        font-size: .7rem;
      }
    }

  }
}

@media (max-width: 420px) {
  .login {
    &__form {
      height: 65%;
      width: 18rem;

      .header {
        margin-top: 1rem;
        font-size: 1rem;
      }

      input {
        height: 2rem;
      }

      .register {
        h5:nth-child(1) {
          font-size: .8rem;
        }

        button:nth-child(2) {
          font-size: .8rem;
        }
      }

    }

  }
}
